<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

use Magento\Framework\View\Element\Template;
use Magento\Framework\Escaper;
use Resursbank\Partpayment\ViewModel\Frontend\Catalog\Product;

/**
 * @var Template $block
 * @var Product $viewModel
 * @var Escaper $escaper
 */

if (isset($block)) {
    /** @noinspection PhpPossiblePolymorphicInvocationInspection */
    $viewModel = $block->getViewModel();
}

if (isset($viewModel)) {
    $active = $viewModel->isActive($viewModel->getPrice());
}
?>
<?php // Didn't combine if-blocks because PHPStan will complain unnecessarily. ?>
<?php if (isset($viewModel, $escaper, $active)): ?>
    <?php if ($active): ?>
        <div id="resursbank-pp"
             data-bind="scope: 'part-payment'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <script type="text/x-magento-init">
            {
                "#resursbank-pp": {
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "part-payment": {
                                "component": "Resursbank_Partpayment/js/view/catalog/product/part-payment",
                                "duration": <?= $escaper->escapeHtml($viewModel->getDuration()) ?>,
                                "formKey": "<?= $escaper->escapeHtml($viewModel->getFormKey()) ?>",
                                "productType": "<?= $escaper->escapeHtml($viewModel->getProductType()) ?>",
                                "factor": <?= $escaper->escapeHtml($viewModel->getFactor()) ?>,
                                "suggestedPrice":
                                    <?= $escaper->escapeHtml($viewModel->getSuggestedPrice($viewModel->getPrice())) ?>
                            }
                        }
                    }
                }
            }
        </script>
    <?php endif; ?>
<?php endif; ?>
