<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->

<div class="resursbank-read-more">
    <div class="logo-container">
        <img data-bind="attr: {src: logo}" />
    </div>
    <!-- ko foreach: getRegion('read-more-link') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
